@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

body {
    background-color: #f8f9fa;
    font-family: 'Poppins', sans-serif;
}
header {
    background-color: #007bff;
    color: white;
    padding: 20px 0;
    border-radius: 6px;
}
h1 {
    text-align: center;
    margin: 0;
}
.container {
    margin-top: 30px;
    max-width: 800px;
}
.btn-primary {
    width: 100%;
    margin-top: 20px;
}
pre {
    background-color: #e9ecef;
    padding: 10px;
    border-radius: 6px;
    overflow-x: auto;
}
h2 {
    margin-top: 30px;
    color: #343a40;
}
.legend {
    margin-top: 20px;
    padding: 10px;
    background-color: #e9ecef;
    border-radius: 6px;
}
.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.legend-color {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.times{
    margin-top: 20px;
}

.conclusion{
    margin-top: 20px;
    color: red;
    font-weight: 600;
}

.time{
    font-size: 18px;
}