<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maze Solver with BFS and DFS Algorithm</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="static\styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body style="padding: 10px 100px;">
    <header>
        <h1>Comparison of Maze Solvers using BFS and DFS Algorithms</h1>
    </header>
    <div class="legend">
        <div class="row">
            <div class="col-md-6">
                <div class="legend-item">
                    🟦 = Starting Point
                </div>
                <div class="legend-item">
                    🟪 = Finish Point
                </div>
                <div class="legend-item">
                    <span>🟩 = Used Path</span>
                </div>    
            </div>
            <div class="col-md-6">
                <div class="legend-item">
                    <span>🟨 = Path</span>
                </div>
                <div class="legend-item">
                    <span>🟥 = Obstacles</span>
                </div>
            </div>
        </div>
    </div>
        <form method="POST">
            <div class="row">
                <div class="col-md-3" style="margin-top: 20px;">
                    <input type="number" name="m" class="form-control" placeholder="Enter width x height size" min="3" step="2" required pattern="^[13579]+$">
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary">Generate Maze</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6" style="padding-top: 20px ;">
                    <p>DFS: {{ execution_times['DFS'] }} seconds</p>
                    <p>DFS: {{ block_counts['DFS'] }} blocks used</p>
                    {% if execution_times['DFS'] < execution_times['BFS'] %}
                    <span style="color: green;">DFS is faster than BFS</span>
                    {% else %}
                    <span style="color: #007bff">BFS is faster than DFS</span>
                    {% endif %}
                </div>
                <div class="col-md-6"style="padding-top: 20px ;">
                    <p>BFS: {{ execution_times['BFS'] }} seconds</p>
                    <p>BFS: {{ block_counts['BFS'] }} blocks used</p>
                </div>
            </div>
        </form>
            <h2>Default Maze</h2>
            <pre>{{ default_maze }}</pre>
            <h2>DFS Solution</h2>
            <pre>{{ maze_dfs }} <p class="time">{{ execution_times['DFS'] }} seconds<br>{{ block_counts['DFS'] }} blocks used </p></pre>
                
            </pre>
            <h2>BFS Solution</h2>
            <pre>{{ maze_bfs }} <p class="time">{{ execution_times['BFS'] }} seconds<br>{{ block_counts['BFS'] }} blocks used</p></pre>
</body>
</html>
